<div class="container w-full h-96 bg-gray-200 flex">
    <div class="h-full w-1/12 hover:w-6/12 transition-all bg-lime-600">
       <%- include("layouts/menu.ejs")  %> 
    </div>
    <div class="h-full w-full">
       
        <form action="/edit" method="post" class="w-full h-full  px-3 bg-white">
            <% if (message) { %>
                <p class="w-full font-bold placeholder-amber-900 focus:outline-none my-2 px-3  "><%= message %> </p>
                <% } else { %>
                    <h1 class="text-xl font-bold my-1">Edit Profile</h1>
               <% } %>
           
            <input type="text" value="<%= user.name %>" name="name" class=" w-full border-2 font-bold placeholder-amber-900 focus:outline-none px-3 my-1 py-1 border-amber-500" placeholder="Name" id="">
            <input type="text"  value="<%= user.username %>" name="username" class=" w-full border-2 font-bold placeholder-amber-900 focus:outline-none px-3 my-1 py-1 border-amber-500" placeholder="Username" id="">
            
            <input type="email" value="<%= user.email %>" name="email" class=" w-full border-2 font-bold placeholder-amber-900 focus:outline-none px-3 my-1 py-1 border-amber-500" placeholder="Email">
            <input type="number"  value="<%= user.cell %>" name="cell" class=" w-full border-2 font-bold placeholder-amber-900 focus:outline-none px-3 my-1 py-1 border-amber-500" placeholder="Mobile Number" id="">
            <select name="location"  class=" w-full border-2 font-bold placeholder-amber-900 focus:outline-none px-3 my-1 py-1 border-amber-500">
                <option>location</option>
                <option <%= (user.location== "Mirpur")? "selected": '' %> value="Mirpur">Mirpur</option>
                <option <%= (user.location== "Badda")? "selected": '' %> value="Badda">Badda</option>
                <option <%= (user.location== "Uttara")? "selected": '' %> value="Uttara">Uttara</option>
                <option <%= (user.location== "Bonani")? "selected": '' %> value="Bonani">Bonani</option>
            </select>
            <select name="gender"  class=" w-full border-2 font-bold placeholder-amber-900 focus:outline-none px-3 my-1 py-1 border-amber-500">
                <option>Gender</option>
                <option <%= (user.gender== "Male")? "selected": '' %> value="Male">Male</option>
                <option <%= (user.gender== "Female")? "selected": '' %> value="Female">Female</option>
            </select>
            <button type="submit" class=" w-full font-bold uppercase focus:outline-none px-3 py-1 hover:bg-white text-white hover:text-amber-900 my-2 bg-amber-700">Save</button>
        </form>
    </div>
    </div>